{% extends 'market/base.html' %}

{% block pagetitle %}Início{% endblock %}

{% block content %}

    <h2>Bem vindo!</h2>

    <p class="intro">Esse projeto é um pequeno sistema web que simula um sistema de registro de estoque de um supermercado. Foi desenvolvido para o processo seletivo da WPensar, pela Carolina Ransatto.</p>

    <p>Para acessar como administrador, <a href="/admin">clique aqui</a>.</p>

{% endblock %}