{% extends 'market/base.html' %}

{% block pagetitle %}
    {% if product %}
        Editar {{ product.name }}
    {% else %}
        Novo produto
    {% endif %}
{% endblock %}


{% block content %}
    <h3>
        {% if product %}
            Editar {{ product.name }}
        {% else %}
            Novo produto
        {% endif %}
    </h3>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if product %}
            <p>Custo médio: {{ product.average_cost }}</p>
        {% endif %}
        <input type="submit" value="Salvar" />
    </form>

    <a href="{% url 'stock:product_index' %}" class="cancel">Cancelar</a>
{% endblock %}