{% extends 'market/base.html' %}
{% load static %}

{% block pagetitle %}Produtos{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Custo médio (R$)</th>
                <th>
                    <a href="{% url 'stock:product_create' %}">
                        <img src="{% static 'market/new.png' %}" alt="Novo" />
                    </a>
                </th>
            </tr>
        </thead>
        {% for product in product_list %}
            <tbody>
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.average_cost }}</td>
                    <td>
                        <a href="{% url 'stock:product_update' product.id %}">
                            <img src="{% static 'market/edit.png' %}" alt="Editar"/>
                        </a>
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}