{% extends 'market/base.html' %}

{% block pagetitle %}
    {% if purchase %}
        Editar compra
    {% else %}
        Nova compra
    {% endif %}
{% endblock %}


{% block content %}
    <h3>
        {% if purchase %}
            Editar compra
        {% else %}
            Nova compra
        {% endif %}
    </h3>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Salvar" />
    </form>

    <a href="{% url 'stock:purchase_index' %}" class="cancel">Cancelar</a>
{% endblock %}