{% extends 'market/base.html' %}
{% load static %}

{% block pagetitle %}Compras{% endblock %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Custo por item</th>
            <th>
                <a href="{% url 'stock:purchase_create' %}">
                    <img src="{% static 'market/new.png' %}" alt="Novo" />
                </a>
            </th>
        </tr>
    </thead>
    {% for purchase in purchase_list %}
        <tbody>
            <tr>
                <td>
                    <a href="{% url 'stock:product_index' %}">
                        {{ purchase.product.name }}
                    </a>    
                </td>
                <td>{{ purchase.amount }}</td>
                <td>{{ purchase.cost_per_item }}</td>
                <td>
                    <a href="{% url 'stock:purchase_update' purchase.id %}">
                        <img src="{% static 'market/edit.png' %}" alt="Editar"/>
                    </a>
                </td>
            
            </tr>
        </tbody>
    {% endfor %}
</table>
{% endblock %}