{% load static %}

<html>
    <head>
        <title>MiniMart | {% block pagetitle %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'market/style.css' %}">
    </head>
    <body>
        <header>
            <h1>MiniMart</h1>
            <nav>
                <a href="{% url 'stock:home' %}">Início</a>
                <a href="{% url 'stock:product_index' %}">Produtos</a>
                <a href="{% url 'stock:purchase_index' %}">Compras</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Sair</a>
                {% else %}
                    <a href="{% url 'login' %}">Entrar</a>
                {% endif %}
            </nav>
        </header>
        <section id="content">
            {% block content %}
            {% endblock %}
        </section>
    </body>
</html>
