{% extends 'market/base.html' %}

{% block pagetitle %}Entrar{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>Nome de usuário ou senha incorretos, tente novamente.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Você não tem acesso a essa página.</p>
        {% else %}
            <p>Faça login para ver esta página.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {{ form.as_p }}
        <input type="submit" value="Entrar" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

{% endblock %}