
/* 1. Geral */

body {
    background: #FFFDE4;
    margin: 0;
    font-family: 'DejaVu Sans', sans-serif;
}

header {
    text-align: center;
    margin-bottom: 50px;
    background: #2980bb;
    padding-top: 15px;
    color: white;
}

header h1 {
    margin-top: 0;
    font-size: 3em;
    font-family: 'DejaVu', serif;
}

nav {
    background: #f59e3d;
    color: white;
    margin: 0;
    padding: 10px;
}

nav a {
    font-variant: small-caps;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size:1.2em;
}

nav a:hover {
    background: #e98313;
}

#content {
    text-align: center;
    min-width: 50%;
    max-width: 800px;
    margin: auto;
}

/* 2. Tabelas */

#content table {
    margin: auto;
    border-spacing: 0;
    border-collapse: collapse;
}

#content table thead {
    background: #2980bb;
    color: white;
}

#content table tbody tr {
    background: #B6C9ED;
}

#content table tbody tr:hover{
    background: #ffd278;
}

#content table td, #content table th {
    padding: 8pt 15pt;
    border-top: 1px solid #FFFDE4;
    border-bottom: 1px solid #FFFDE4;
    text-align: center;
}

#content table img {
    max-height: 1em;
    width: auto;
}

/* 3. Formulários */

#content form {
    margin-bottom: 5px;
}

#content form p {
    width: 100%;
}

#content form label {
    display: inline-block;
    text-align: right;
    width: 18%;
    padding-right: 5px;
}

#content form select, input {
    width: 60%;
    font-family: 'DejaVu Sans', sans-serif;
}

#content input[type=submit] {
    background-color: #2980bb;
    border: none;
    color: white;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.cancel {
    display: block;
    background-color: red;
    color: white;
    width: 30%;
    margin: auto;
    padding: 10px 0;
    border-radius: 10px;
    text-decoration: none;
}